.Header
  display: flex
  flex-direction: row
  justify-content: space-between
  background: $almost-black
  padding: 1.4em
  &__go-back-button
    display: flex
    flex-direction: row
    width: 20em
    +basic_exp
    color: $desert
    border: none
    background: none
    flex: 1
  &__logo
    flex: 2
    height: 36.5px
    background: url("../../assets/img/space_x_logo_bw_centered.png") center center no-repeat
    background-size: 295px
  &__side
    flex: 1
  .arrow
    align-self: center
    padding: 0 1.5em 0 0 
    width: 2.4em
    height: .8em
    background: url("../../assets/img/arrow.png") no-repeat
    z-index: 2
