.LaunchesList
  background: $almost-black
  display: flex
  flex-direction: column
  +basic_exp
  text-transform: uppercase
  &__header
    display: flex
    flex-direction: column
    margin: auto
    width: 100vw
    height: 612px
    flex: 1
    background: url("../assets/img/mars.png") no-repeat center center
    background-size: 64%
  &__header-wrapper
    display: flex
    flex-direction: column 
    text-align: center
    margin-top: 26em
    margin-left: auto
    margin-right: auto
    height: 400px
    width: 700px
  &__title
    width: 700px
    height: 200px
    background: url("../assets/img/space_x_logo_bw_centered.png") no-repeat
    background-position-x: 8em
    background-position-y: center
    background-size: 84%
    margin: 0 auto
  &__subtitle
    margin: -1.8em auto
    +basic-exp
    letter-spacing: .75em
    font-size: 1.7em 
    color: $cool-grey
  &__list
    margin-top: 1.5em
    display: flex
    flex-direction: column-reverse


.filterButtons
  display: flex
  justify-content: space-around
  width: 720px
  margin: 1.6em auto

.LaunchesList__wrapper
  position: relative
  margin: 4em 2.5em
  &:after
      content: ""
      position: absolute
      z-index: 1
      top: 0
      bottom: 0
      left: 50%
      height: 100%
      border: .5px dashed $cool-grey
      transform: translate(-50%)