.LaunchDetails
  display: flex
  flex-direction: column
  +basic_exp
  &__main-container
    display: flex
    flex-direction: row
    margin: 2em 6em
    justify-content: space-between
  &__counter, &__details
    flex: 1