.MissionDetail
  width: 50vw
  margin-bottom: 5em 
  //margin-left: 50vw
  text-transform: uppercase
  &__title
    +basic_exp
    color: $desert
  &__hr
    display: block
    height: 1px
    border: 0
    border-top: 2px solid $desert
    margin: 1em 0
    padding: 0
  &__feed
    +basic
    text-transform: initial
    color: $dark-grey
  &__block-wrapper
    display: flex
    flex-direction: row
  &__block
    border-left: 2px dotted rgba($cool-grey, .6)
    margin: 0
    padding: 0 0 0 2em
    width: 50%
    //&:nth-of-type(2)
    display: flex
    flex-direction: column
    justify-content: space-between
  &__item
    display: flex
    flex-direction: row
    line-height: 2em
  &__key
    display: inline
    +basic
    color: $cool-grey
  &__val
    +basic
    margin: 0 .5em
