.Header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #0f1112;
  padding: 1.4em; }
  .Header__go-back-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 20em;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    letter-spacing: 15px;
    color: #ccac5b;
    border: none;
    background: none; }
  .Header__logo {
    position: absolute;
    left: 0;
    right: 0;
    top: .8em;
    margin: 0 auto;
    height: 2em;
    width: 15em;
    background: url(space_x_logo_bw_centered.png) no-repeat;
    background-size: cover; }
  .Header .arrow {
    -ms-flex-item-align: center;
        align-self: center;
    padding: 0 1.5em 0 0;
    width: 2.4em;
    height: .8em;
    background: url(arrow.png) no-repeat;
    z-index: 2; }

a.button {
  color: white;
  background: none;
  padding: .7em 2.3em .75em;
  border: 1px solid white;
  border-radius: 50px;
  margin: 0 1.5em;
  letter-spacing: 3px;
  text-decoration: none; }
  a.button:link, a.button:visited {
    color: white; }
  a.button:hover {
    -webkit-box-shadow: inset 0px 0px 10px 2px white;
            box-shadow: inset 0px 0px 10px 2px white; }

.footer__container {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 2.6em 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #22272b;
  text-transform: uppercase; }

.footer {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  font-size: 14px;
  font-family: OpenSans;
  font-weight: 400;
  letter-spacing: 1px;
  color: #666666; }
  .footer__nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
    display: inline; }
  .footer__link {
    display: inline;
    color: #a7a9ac;
    text-decoration: none;
    padding: .2em .5em; }
  .footer__follow {
    color: #666666; }

.MissionLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  letter-spacing: 18px;
  min-height: 580px;
  font-family: OpenSans;
  color: white;
  background: url(rocket.png) no-repeat center center;
  background-size: cover; }
  .MissionLinks__wraper {
    margin: 20em 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .MissionLinks__title {
    margin: 2em auto 1em auto;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 600; }

.buttons-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px; }

.MissionDetail {
  width: 50vw;
  margin-bottom: 5em;
  text-transform: uppercase; }
  .MissionDetail__title {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    letter-spacing: 15px;
    color: #ccac5b; }
  .MissionDetail__hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #ccac5b;
    margin: 1em 0;
    padding: 0; }
  .MissionDetail__feed {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: initial;
    color: #22272b; }
  .MissionDetail__block-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .MissionDetail__block {
    border-left: 2px dotted rgba(167, 169, 172, 0.6);
    margin: 0;
    padding: 0 0 0 2em;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .MissionDetail__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    line-height: 2em; }
  .MissionDetail__key {
    display: inline;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #a7a9ac; }
  .MissionDetail__val {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0 .5em; }

.MissionCounter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase; }
  .MissionCounter__date {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    letter-spacing: 15px;
    color: #a7a9ac; }
  .MissionCounter__name {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 1.5px; }
  .MissionCounter__counter {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px; }
  .MissionCounter__patch {
    margin: 2em auto auto 0; }

.LaunchDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  letter-spacing: 15px; }
  .LaunchDetails__main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 2em; }
  .LaunchDetails__counter {
    width: 50vw; }
  .LaunchDetails__details {
    width: 50vw; }

html {
  height: 100%;
  font-size: 16px; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  margin: 0; }

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background: white; }

a:link, a:visited {
  color: #a7a9ac;
  text-decoration: none; }

.lfloat {
  float: left; }

.spacer {
  padding: 0 .3em 0 .9em; }


/*# sourceMappingURL=main.css.map*/