$almost-black: #0f1112
$brownish-grey: #666666
$desert: #ccac5b
$dark-grey: #22272b
$cool-grey: #a7a9ac

$open-sans: 'Open Sans', sans-serif

=header
  font-family: $open-sans
  font-size: 24px
  font-weight: 600
=header_big
  +header
  font-size: 36px
  letter-spacing: 1.5px

=header_sml
  +header
  font-weight: 400
  text-align: center

=header_sml_semibold
  +header
  text-align: center
  letter-spacing: 18px

=basic
  font-size: 14px
  font-weight: 400
  letter-spacing: 1px

=basic_exp
  +basic
  letter-spacing: 9px

=basic_exp_semibold
  +basic
  font-weight: 600
  letter-spacing: 9px