@import "variables"

@import "components/header"
@import "components/button"
@import "components/footer"
@import "components/missionlinks"
@import "components/missiondetail"
@import "components/missioncounter"
@import "components/launchdetails"

html
  height: 100%
  font-size: 16px

body
  display: flex
  flex-direction: column
  height: 100vh
  margin: 0

main
  flex: 1 0 auto
  background: white
  font-family: $open-sans

.header
  font-family: OpenSans
  font-weight: 400
  &_big
    font-size: 36px
    font-weight: 600
    letter-spacing: 1.5px
  &_sml
    font-size: 24px
    text-align: center
    &_semibold
      font-weight: 600
      letter-spacing: 18px
.basic
  font-size: 14px
  font-family: OpenSans
  font-weight: 400
  letter-spacing: 1px
  &_exp_semibold
    font-weight: 600
    letter-spacing: 9px
a:link, a:visited
  color: $cool-grey
  text-decoration: none

.lfloat
  float: left
.spacer
  padding: 0 .3em 0 .9em